header,
body,
h1,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

body {
  background-color: #f2e4d4;
}
header {
  display: flex;
  flex-direction: column;
}

#vitrine {
  width: 100%;
  height: 200px;
  opacity: 0.35;
  object-fit: cover;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3vmax;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Histoire,
.info-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  transition: 0.4s linear;
}
.product-grid {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.text-card {
  align-content: center;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.Histoire-img {
  margin-right: 30px;
  display: flex;
  height: 20rem;
}
.Histoire-img img{
    border-radius: 20px;
    margin: 10px;
}
.Titre-card {
  font-size: 1.5rem;
  display: flex;
  margin-left: 2rem;
}
.ligne {
  margin: 4%;
}
.info-grid {
  display: flex;
  gap: 10px;
  
}
.imginfo {
  border-radius: 10px;
}

