<header> {background-image: url(haut.jpg);}

body {background-color:white;background-position:top left;background-repeat: no-repeat;background-attachment: fixed;width: 2cm;}

h1 {text-align: center;color: black;}

a{text-align: center;color: blueviolet;}