header {background-image: url("haut.jpg");background-position:top left;background-repeat: no-repeat;background-attachment: fixed;width: 2cm;}

body {background-color:white;}

h1 {text-align: center;color: black;}

a{text-align: center;color: blueviolet;}