.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3535;
  padding: 0px 10px;
  margin: 0;
  text-transform: none;
  text-decoration: none;
}

.menu-icon {
  font-size: 20px;
  margin-right: 10px;
  color: orange;
}

.navigation a {
  color: white;
  font-size: large;
  transition: 0.2s linear;
}
.navigation {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.menu {
  display: flex;
  gap: 30px;
}
.menu a {
  color: white;
  font-size: large;
  margin: auto;
}
.navbar a {
  transition: 0.2s linear;
}

.navbar a:hover,
.navigation a:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 740px) {
  .menu-icon {
  font-size: 20px;
  margin-right: 10px;
  color: orange;
}
}