header,label,
body{
    margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3535;
  margin: 0;
  text-transform: none;
  text-decoration: none;
  position: relative;
  padding: 10px;
}
nav {
  width: 100%;
}

.menu-icon {
  font-size: 20px;
  margin-right: 10px;
  color: orange;
  cursor: pointer;
}

.navigation a {
  color: white;
  font-size: 18px;
  transition: 0.2s linear;
}
.navigation {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}
label{
  align-items: center;
  align-content: center;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu a {
  color: white;
  font-size: 18px;
  margin: auto;
}
.navbar a {
  transition: 0.2s linear;
}

.navbar a:hover,
.navigation a:hover {
  transform: scale(1.05);
}

.navbar input, .nav-menu, .dropdown{
  display: none;
}


@media screen and (max-width: 740px) {
  .menu{
  align-content: center;
}
  .menu-icon {
  font-size: 20px;
  margin-right: 0px;
  margin-left: 10px;
  color: orange;
  cursor: pointer;
}
.navigation{
  display: none;
}
.menu a{
  font-size: 15px;
}
.navbar input, .nav-menu, .dropdown{
  display: none;
}
[id=bouton]:checked + ul{
    display: block;
}
.nav-menu{
  background-color: #3b3535;
  position: absolute;
  top: 90px;
  padding-left:10px ;
  left: 0px;
  right: 0;
}

.nav-item a, .drop-item a, .show{
  color: white;
  text-decoration: none;
  line-height: 40px;
  font-size: 1.2rem;
}

.nav-menu a:hover, .show:hover{
  transform: scale(1.05);
}
}
