
img {
    width: 500px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;

}

#ff15 h1 {
    font-size: x-large;
}

#ff15 {
    background-color: #F2E4D4;
    display: grid;
  }
  
  nav{
    background-color: #3B3535;
  }

  nav ul {
    list-style-type: none;

  }
  
  nav a {
        color: white;
    text-decoration: none;
    font-size: large;
    margin: auto;
  }
  
  nav ul {
      display: flex;
      gap: 20px;
  
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  a {
    text-align: center;
    color: blueviolet;
  }
  