
  body {
    background-color: #F2E4D4;
  }
  
  nav{
    background-color: #3B3535;
  }

  nav ul {
    list-style-type: none;

  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav ul {
      display: flex;
      gap: 20px;
  
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  a {
    text-align: center;
    color: blueviolet;
  }
  