header,label,
body{
    margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3535;
  margin: 0;
  text-transform: none;
  text-decoration: none;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;  

}
nav {
  width: 100%;
}

.menu-icon {
  font-size: 20px;
  margin-right: 10px;
  color: orange;
  cursor: pointer;
  padding-left: 10px;
}

.navigation a {
  color: white;
  font-size: 18px;
  transition: 0.2s linear;
}
.navigation {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu a {
  color: white;
  font-size: 18px;
  margin: auto;
}
.navbar a {
  transition: 0.2s linear;
}

.navbar a:hover,
.navigation a:hover {
  transform: scale(1.05);
}

.navbar input, .nav-menu, .dropdown{
  display: none;
}


@media screen and (max-width: 770px) {
  .menu-icon {
  font-size: 20px;
  margin-right: 0px;
  margin-left: 10px;
  color: orange;
  cursor: pointer;
}
.navigation{
  display: none;
}
.menu a{
  font-size: 15px;
}
.navbar input, .nav-menu, .dropdown{
  display: none;
}

[id=bouton]:checked ~ .nav-menu {
  display: block;
}

.nav-menu{
  background-color: #3b3535;
    position: absolute;
    top: 80px; /* Ajuste selon le design */
    left: 0px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-width: 150px;
    display: none; /* Cacher par défaut */
    z-index: 1000;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  display: block;
}
.nav-item a, .drop-item a, .show{
  color: white;
  text-decoration: none;
  line-height: 40px;
  font-size: 1.2rem;
}

.nav-menu a:hover, .show:hover{
  transform: scale(1.05);
}

}
